{% extends "detector/base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}

<div class="mx-auto dt-auth-main">
    <div class="dt-auth-login">
        <header>ログイン</header>
        <section>
            <form action="{{ url_for('auth.login') }}" method="POST" novalidate="novalidate">

                {% for message in get_flashed_messages() %}
                <span class="dt-auth-flash">{{ message }}</span>
                {% endfor %}

                {{ form.csrf_token }}

                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ form.email(class="form-control dt-auth-input", placeholder="メールアドレス") }}
                
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ form.password(class="form-control dt-auth-input", placeholder="パスワード") }}
                
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
           
            </form>
            {% endblock %}