{% extends "detector/base.html" %}
{% block title %}ユーザー新規作成{% endblock %}
{% block content %}

<div class="mx-auto dt-auth-main">
    <div class="dt-auth-signup">
        <header>ユーザー新規登録</header>
        <section>
            <form action="{{ url_for('auth.signup', next=request.args.get('next')) }}" method="POST" novalidate="novalidate" class="form-signup">
                {{ form.csrf_token }}

                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}

                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {{ form.username(size=30, class="form-control dt-auth", placeholder="ユーザー名") }}
                

                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %} 
                {{ form.email(size=30, class="form-control dt-auth", placeholder="メールアドレス") }}
                
                
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}           
                {{ form.password(size=30, class="form-control dt-auth", placeholder="パスワード") }}
                
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
                
            </form>
        </section>
    </div>
</div>
{% endblock %}